venv/
__pycache__/
data/
.env
temp_uploads/
static/audio/*.mp3
static/episodes.json
static/podcast.xml
static/transcripts/
static/scripts/
static/images/
.DS_Store
*.pyc
static/audio/*.mp4
static/audio/*.mp3
